<h3>My wishlist</h3>
<hr>
<div class="row">
  <% if @assets.any? %>
    <% @assets.each do |wished_asset|  %>
      <%= render partial: 'assets/asset', locals: { asset: Asset.find(wished_asset.asset_id) } %>
    <% end %>
    <% else %>
    <h4>Your wishlist is empty.</h4>
  <% end %>
</div>