/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap';
 @import url('https://fonts.googleapis.com/css?family=Galindo');
 @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
 body{
   background-image: url(bg\ main.png);
   background-repeat: repeat;
 }
 
 #application_nav{
   background-color: crimson;
 }

 #brand_name{
   font-family: 'Galindo';
   color: rgb(245, 252, 233);
 }

 #content{
   margin-top: 3.3rem;
 }

 .custom-hover:hover{
   background-color: rgb(189, 17, 51);
 }

 .user-container{
   background-image: linear-gradient(to right, rgba(235,233,249,0.6) 0%, rgba(216,208,239,0.6) 44%, rgba(206,199,236,0.6) 53%, rgba(193,191,234,0.6) 90%);
   margin-top: 4rem;
   border-radius: 1.5rem;
 }

 .profile-upload > input{
   display: none;
 }

 .profile-upload > label{
   cursor: pointer;
 }

 .profile-upload img{
   height: 10rem;
   width: 10rem;
   border-radius: 50%;
 }

 #nav_profile_pic{
   border-radius: 50%;
   height: 3rem;
   width: 3rem;
   cursor: pointer;
 }

 #alert_info{
   margin-top: 3.6rem;
 }
 .feedback-icon{
   position: absolute;
   right: 1.2rem;
   margin-top: 0.6rem;
   display: none;
 }
 .feedback-warning{
   margin-left: 1rem;
 }
 .user-container input:not([type='submit']){
   border-radius: 3rem;
   background-color: rgba(255, 255, 255, 0.5);
 }

 .actions input{
   border-radius: 1rem;
 }

 #error_explanation{
   background-color: rgba(255, 0, 0, 0.3);
   color: red;
 }

 .actions{
   padding-bottom: 0.5rem;
 }

 #countries-input-0{
   width: 3.4rem;
 }

 #phone_number{
   margin-left: 0.3rem;
   width: calc(100% - 3.8rem);
 }