/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap';
 
 body{
   background-image: url(bg_main.png);
   background-repeat: repeat;
   background-attachment: fixed;
 }

 footer{
   height: 10vh;
   color: gray;
   font-size: large;
 }
 
 #application_nav{
   background-color: crimson;
 }

 #brand_name{
   font-family: 'Galindo';
   color: rgb(245, 252, 233);
 }

 #content{
   margin-top: 3.5rem;
   margin-bottom: 3rem;
 }

 .custom-hover:hover{
   background-color: rgb(189, 17, 51);
 }

 .filter-container{
   padding-top: 0.6rem;
   background-color: rgba(212, 177, 112, 0.363);
 }
 

 