// Place all the styles related to the assets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.asset-pictures > input{
  display: none;
}

.asset-pictures > .preview-images{
  display: flex;
}

.asset-pictures > label{
  cursor: pointer;
}
.asset-pictures .image-cancel{
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  cursor: pointer;
  display: none;
}

.asset-pictures > .preview-images > .preview-image{
  margin-left: 0.7rem;
  height: 10rem;
  width: 10rem;
  position: relative;
  float: left;
}

.preview-image > img{
  width: 100%;
  height: 100%;
}

.preview-image:hover > .image-cancel{
  display: block;
}

.preview-image:hover > img{
  opacity: 0.6;
}

.event-tags{
  display: inline;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.remove-event-tag:hover{
  cursor: pointer;
}

.event{
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  background-color: #f1b8b8;
  border: 1px solid black;
}

#asset_images{
  width: 100%;
  overflow: hidden;
}

.show-asset-container img{
  width: inherit;
  height: 30rem;
}
#asset_title{
  background-color: rgba(190, 240, 231, 0.4);
}
.show-event-tags{
  background-color: rgba($color: #def0a0e0, $alpha: 1.0);
  display: inline;
  margin-right: 0.3rem;
  padding: 0.3rem;
  font-size: 1rem;
}

#asset_location_map{
  width: 100%;
  height: 20rem;
}

.marker{
  background-image: url(map-pointer.png);
  background-size: cover;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.marker-popup{
  max-width: 10rem;
}

.marker-popup-content{
  text-align: center;
}

#display_price{
  background-color: rgba(231, 235, 207, 0.8);
  color: blue;  
}

#show_owner_info img{
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}