// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.note-container{
  padding: 0.5rem;
}

.note-container:nth-child(odd){
  background-color: rgba(225, 247, 183, 0.4);
}

.text-red-md{
  color: red;
  font-size: 1.2rem;
}

.right-align{
  float: right;
}