// Place all the styles related to the Notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.show-notification{
  width: 100%;
  text-align: left !important;
  margin-top: 0.6rem;
}