// Place all the styles related to the ratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.stars{
  font-size: 2rem;
}

.checked{
  color: orange;
}

.unchecked{
  color: black;
}

.stars span:hover{
  cursor: pointer;
}

#show_rating_form{
  cursor: pointer;
}