// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user-container{
  background-image: linear-gradient(to right, rgba(235,233,249,0.6) 0%, rgba(216,208,239,0.6) 44%, rgba(206,199,236,0.6) 53%, rgba(193,191,234,0.6) 90%);
  margin-top: 4rem;
  border-radius: 1.5rem;
}

.profile-upload > input{
  display: none;
}

.profile-upload > label{
  cursor: pointer;
}

.profile-upload img{
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
}

#nav_profile_pic{
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
}

.names{
  padding: 0px !important;
}

#alert_info{
  top: 3.3rem;
  animation-name: fade_alert_info;
  animation-duration: 3s;
}


.feedback-icon{
  display: none ;
  position: absolute;
  right: 1.4rem;
  margin-top: 0.6rem;
}

.names span{
 position: absolute;
 right: 0.8rem;
 margin-top: 0.6rem; 
}

.names-container{
  display: flex;
}
.feedback-warning{
  margin-left: 1rem;
  color: red;
}
.user-container input:not([type='submit']){
  border-radius: 3rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.actions input{
  border-radius: 1rem;
}

#error_explanation{
  background-color: rgba(255, 0, 0, 0.3);
  color: red;
}

.actions{
  padding-bottom: 0.5rem;
}

#countries-input-0{
  width: 3.4rem;
}

#phone_number{
  margin-left: 0.3rem;
  width: calc(100% - 3.8rem);
}

.search-form{
  display: flex;
  width: 100%;
}

#remove_profile_picture{
  position: absolute;
  font-size: 1.6rem;
  left: calc((100% / 2) - 1.6rem);
  top: 9rem;
  color: red;
}

#remove_profile_picture:hover{
  color: blue;
  cursor: pointer;
} 

#change_profile_pic{
  position: absolute;
  font-size: 1.6rem;
  left: calc((100% / 2) + 0.2rem);
  top: 9rem;
  color: orange;
}

#change_profile_pic:hover{
  color: blue;
  cursor: pointer;
}

.user-profile-picture{
  width: auto;
}
