<div class="container col-sm-5 user-container">
  <div class="text-center"> <h2>Verify your phone number</h2> </div>
  <%= form_tag(phone_verifications_path, method: :post) do -%>
    
  <% end %>
</div>